<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/style.css")
    title Simple CRUD Nodejs
  body
    #container
      #wrap
        table
          tr
            td No
            td NIM
            td Nama
            td Email
            td Fakultas
          tr
            td 1
            td 2011501224
            td febriadji
            td iamfebriadji@gmail.com
            td Teknologi Informasi